aio-pika==9.5.5
aiormq==6.8.1
dotenv==0.9.9
exceptiongroup==1.2.2
idna==3.10
multidict==6.2.0
numpy==2.2.4
pamqp==3.3.0
pandas==2.2.3
propcache==0.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
setuptools==75.8.0
six==1.17.0
tzdata==2025.2
wheel==0.45.1
yarl==1.18.3
geopy==2.4.1
pycountry_convert==0.7.2